-トップページ
----ナビゲーションとコンテンツを設置


-ナビゲーション
----ホーム|ログイン|投稿する|マイページ
---投稿する、マイページは認証つける

-ログイン関係
----認証後/indexへリダイレクト

-コンテンツ
---ページネーション
---認証はつけない


-コンテンツ詳細画面
---コンテンツの画像をもとの大きさで表示


-マイページ
---マイページ編集
---自分の投稿をとってきて一覧で表示
---投稿押したら編集画面へ


-コンテンツ編集画面
---ログイン認証とコンテンツ認証つける
---削除ボタン、更新ボタン



-table
---users
------name
------mail
------password


---photos
------id
------user_id
------title
------discription
------photo
------size


モデル
-user
-photo




